# Secrets
firmware/src/config/Secrets.h
*.env

# Build Arduino
*.hex
*.elf
*.bin
firmware/build/

# Build PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temporaires
*.tmp
*.bak
*.log

# Fichiers slicer 3D
*.gcode
*.3mf
